/* Copyright 2017 CC-BY-SA-4.0 Haelwenn (lanodan) Monnier <contact@hacktivis.me> */

html, body {
	background: #212121;
	color: #8c8c8c;
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: serif;
}
a {
	color: #3498DB;
	text-decoration: none;
}
main a.photo {
	display: inline-block;
	vertical-align: middle;
	min-width: 317px;
	background: #333333;
	border: 1ch solid #333333;
	border-radius: .5ch;
	margin: 1ch;
	padding: 0;
}
main a.photo img {
	max-width: 90vw;
	max-height: 90vh;
}
main ul {
	text-align: initial;
	display: inline-table;
}